In [3]:
from google.colab import files
uploaded=files.upload()

Saving data.csv to data.csv

In [5]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("data.csv",encoding='latin-1')
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/2010 8:26       2.55     17850.0  United Kingdom
1        12/1/2010 8:26       3.39     17850.0  United Kingdom
2        12/1/2010 8:26       2.75     17850.0  United Kingdom
3        12/1/2010 8:26       3.39     17850.0  United Kingdom
4        12/1/2010 8:26       3.39     17850.0  United Kingdom
...                 ...        ...         ...             ...
541904  12/9/2011 12:50       0.85     12680.0          France
541905  12/9/2011 12:50       2.10     12680.0          France
541906  12/9/2011 12:50       4.15     12680.0          France
541907  12/9/2011 12:50       4.15     12680.0          France
541908  12/9/2011 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [8]:
#Number of rows and columns
df.shape

(541909, 8)

In [9]:
#Access first five rows
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [10]:
#Access last five rows
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [11]:
#Displaying total columns from Dataset
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [12]:
#Getting all columns one by one
for columns in df.columns:
  print(columns)

InvoiceNo
StockCode
Description
Quantity
InvoiceDate
UnitPrice
CustomerID
Country

In [13]:
#Renaming columns names
d = {
        'InvoiceNo': 'invoice_num',
        'StockCode' : 'stock_code',
        'Description' : 'description',
        'Quantity' : 'quantity',
        'InvoiceDate' : 'invoice_date',
        'UnitPrice' : 'unit_price',
        'CustomerID' : 'cust_id',
        'Country' : 'country'
}
df.rename(columns=d,inplace=True)

In [14]:
#After changing column names Checking new column names
df.columns

Index(['invoice_num', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'cust_id', 'country'],
      dtype='object')

In [16]:
for columns in df.columns:
  print(columns)

invoice_num
stock_code
description
quantity
invoice_date
unit_price
cust_id
country

In [17]:
#Lets check initial data
df.head()

,invoice_num,stock_code,description,quantity,invoice_date,unit_price,cust_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [18]:
#Data Cleaning
#Checking column types
df.dtypes

invoice_num      object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
cust_id         float64
country          object
dtype: object

In [19]:
#DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_num   541909 non-null  object
 1   stock_code    541909 non-null  object
 2   description   540455 non-null  object
 3   quantity      541909 non-null  int64
 4   invoice_date  541909 non-null  object
 5   unit_price    541909 non-null  float64
 6   cust_id       406829 non-null  float64
 7   country       541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [20]:
#Checking missing values for each column
df.isnull()

,invoice_num,stock_code,description,quantity,invoice_date,unit_price,cust_id,country
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
541904,False,False,False,False,False,False,False,False
541905,False,False,False,False,False,False,False,False
541906,False,False,False,False,False,False,False,False
541907,False,False,False,False,False,False,False,False
541908,False,False,False,False,False,False,False,False

In [21]:
#Checkcing number of columns
len(df.columns)

8

In [22]:
df.shape

(541909, 8)

In [23]:
#Checking missing values count on each column
df.isnull().sum()

invoice_num          0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
cust_id         135080
country              0
dtype: int64

In [24]:
df.isnull().sum().sort_values()

invoice_num          0
stock_code           0
quantity             0
invoice_date         0
country              0
unit_price           0
description       1454
cust_id         135080
dtype: int64

In [25]:
df.isnull().sum().sort_values(ascending=False)

cust_id         135080
description       1454
stock_code           0
invoice_num          0
quantity             0
invoice_date         0
unit_price           0
country              0
dtype: int64

In [26]:
#Checking type of invoice_date column
df.dtypes

invoice_num      object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
cust_id         float64
country          object
dtype: object

In [27]:
#Access intial data
df.head(2)

,invoice_num,stock_code,description,quantity,invoice_date,unit_price,cust_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [31]:
df['invoice_date'] = pd.to_datetime(df.invoice_date, format='%m/%d/%Y %H:%M')

In [32]:
df.dtypes

invoice_num             object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
cust_id                float64
country                 object
dtype: object

In [33]:
df.head()

,invoice_num,stock_code,description,quantity,invoice_date,unit_price,cust_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [34]:
#Let us check description column
df['description']

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: description, Length: 541909, dtype: object

In [36]:
#We need to call lower() method
df['description']=df['description'].str.lower()
print(df)

       invoice_num stock_code                          description  quantity  \
0           536365     85123A   white hanging heart t-light holder         6
1           536365      71053                  white metal lantern         6
2           536365     84406B       cream cupid hearts coat hanger         8
3           536365     84029G  knitted union flag hot water bottle         6
4           536365     84029E       red woolly hottie white heart.         6
...            ...        ...                                  ...       ...
541904      581587      22613          pack of 20 spaceboy napkins        12
541905      581587      22899         children's apron dolly girl          6
541906      581587      23254        childrens cutlery dolly girl          4
541907      581587      23255      childrens cutlery circus parade         4
541908      581587      22138        baking set 9 piece retrospot          3

              invoice_date  unit_price  cust_id         country
0      2010-12-01 08:26:00        2.55  17850.0  United Kingdom
1      2010-12-01 08:26:00        3.39  17850.0  United Kingdom
2      2010-12-01 08:26:00        2.75  17850.0  United Kingdom
3      2010-12-01 08:26:00        3.39  17850.0  United Kingdom
4      2010-12-01 08:26:00        3.39  17850.0  United Kingdom
...                    ...         ...      ...             ...
541904 2011-12-09 12:50:00        0.85  12680.0          France
541905 2011-12-09 12:50:00        2.10  12680.0          France
541906 2011-12-09 12:50:00        4.15  12680.0          France
541907 2011-12-09 12:50:00        4.15  12680.0          France
541908 2011-12-09 12:50:00        4.95  12680.0          France

[541909 rows x 8 columns]

In [38]:
#Missing values in the dataframe
df.isna().sum().sort_values(ascending=False)

cust_id         135080
description       1454
stock_code           0
invoice_num          0
quantity             0
invoice_date         0
unit_price           0
country              0
dtype: int64

In [41]:
#Dropping missing values
df.dropna(inplace=True)

In [42]:
df.isna().sum()

invoice_num     0
stock_code      0
description     0
quantity        0
invoice_date    0
unit_price      0
cust_id         0
country         0
dtype: int64

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_num   406829 non-null  object
 1   stock_code    406829 non-null  object
 2   description   406829 non-null  object
 3   quantity      406829 non-null  int64
 4   invoice_date  406829 non-null  datetime64[ns]
 5   unit_price    406829 non-null  float64
 6   cust_id       406829 non-null  float64
 7   country       406829 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.9+ MB

In [44]:
df.head()

,invoice_num,stock_code,description,quantity,invoice_date,unit_price,cust_id,country
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [45]:
#Check type of cust_id data type
df.dtypes

invoice_num             object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
cust_id                float64
country                 object
dtype: object

In [46]:
#Converting cust_id float type into integer type
df['cust_id']=df['cust_id'].astype(int)

In [47]:
df.dtypes

invoice_num             object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
cust_id                  int64
country                 object
dtype: object

In [48]:
#DataFrame description
df.describe()

,quantity,invoice_date,unit_price,cust_id
count,406829.000000,406829,406829.000000,406829.000000
mean,12.061303,2011-07-10 16:30:57.879207424,3.460471,15287.690570
min,-80995.000000,2010-12-01 08:26:00,0.000000,12346.000000
25%,2.000000,2011-04-06 15:02:00,1.250000,13953.000000
50%,5.000000,2011-07-31 11:48:00,1.950000,15152.000000
75%,12.000000,2011-10-20 13:06:00,3.750000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,248.693370,NaN,69.315162,1713.600303

In [49]:
df.describe().round(2)

        quantity                   invoice_date  unit_price    cust_id
count  406829.00                         406829   406829.00  406829.00
mean       12.06  2011-07-10 16:30:57.879207424        3.46   15287.69
min    -80995.00            2010-12-01 08:26:00        0.00   12346.00
25%         2.00            2011-04-06 15:02:00        1.25   13953.00
50%         5.00            2011-07-31 11:48:00        1.95   15152.00
75%        12.00            2011-10-20 13:06:00        3.75   16791.00
max     80995.00            2011-12-09 12:50:00    38970.00   18287.00
std       248.69                            NaN       69.32    1713.60

In [53]:
c1=df.quantity>0
print(c1)

0         True
1         True
2         True
3         True
4         True
          ...
541904    True
541905    True
541906    True
541907    True
541908    True
Name: quantity, Length: 406829, dtype: bool

In [56]:
df=df[c1]
print(df)

       invoice_num stock_code                          description  quantity  \
0           536365     85123A   white hanging heart t-light holder         6
1           536365      71053                  white metal lantern         6
2           536365     84406B       cream cupid hearts coat hanger         8
3           536365     84029G  knitted union flag hot water bottle         6
4           536365     84029E       red woolly hottie white heart.         6
...            ...        ...                                  ...       ...
541904      581587      22613          pack of 20 spaceboy napkins        12
541905      581587      22899         children's apron dolly girl          6
541906      581587      23254        childrens cutlery dolly girl          4
541907      581587      23255      childrens cutlery circus parade         4
541908      581587      22138        baking set 9 piece retrospot          3

              invoice_date  unit_price  cust_id         country
0      2010-12-01 08:26:00        2.55    17850  United Kingdom
1      2010-12-01 08:26:00        3.39    17850  United Kingdom
2      2010-12-01 08:26:00        2.75    17850  United Kingdom
3      2010-12-01 08:26:00        3.39    17850  United Kingdom
4      2010-12-01 08:26:00        3.39    17850  United Kingdom
...                    ...         ...      ...             ...
541904 2011-12-09 12:50:00        0.85    12680          France
541905 2011-12-09 12:50:00        2.10    12680          France
541906 2011-12-09 12:50:00        4.15    12680          France
541907 2011-12-09 12:50:00        4.15    12680          France
541908 2011-12-09 12:50:00        4.95    12680          France

[397924 rows x 8 columns]

<ipython-input-56-579031ca6197>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df=df[c1]

In [58]:
df.describe()

,quantity,invoice_date,unit_price,cust_id
count,397924.000000,397924,397924.000000,397924.000000
mean,13.021823,2011-07-10 23:43:36.912475648,3.116174,15294.315171
min,1.000000,2010-12-01 08:26:00,0.000000,12346.000000
25%,2.000000,2011-04-07 11:12:00,1.250000,13969.000000
50%,6.000000,2011-07-31 14:39:00,1.950000,15159.000000
75%,12.000000,2011-10-20 14:33:00,3.750000,16795.000000
max,80995.000000,2011-12-09 12:50:00,8142.750000,18287.000000
std,180.420210,NaN,22.096788,1713.169877

In [59]:
df.describe().round(2)

        quantity                   invoice_date  unit_price    cust_id
count  397924.00                         397924   397924.00  397924.00
mean       13.02  2011-07-10 23:43:36.912475648        3.12   15294.32
min         1.00            2010-12-01 08:26:00        0.00   12346.00
25%         2.00            2011-04-07 11:12:00        1.25   13969.00
50%         6.00            2011-07-31 14:39:00        1.95   15159.00
75%        12.00            2011-10-20 14:33:00        3.75   16795.00
max     80995.00            2011-12-09 12:50:00     8142.75   18287.00
std       180.42                            NaN       22.10    1713.17

In [64]:
#Adding the column - amount_spent
df['amount_spent']=df['unit_price']*df['quantity']
print(df)

       invoice_num stock_code                          description  quantity  \
0           536365     85123A   white hanging heart t-light holder         6
1           536365      71053                  white metal lantern         6
2           536365     84406B       cream cupid hearts coat hanger         8
3           536365     84029G  knitted union flag hot water bottle         6
4           536365     84029E       red woolly hottie white heart.         6
...            ...        ...                                  ...       ...
541904      581587      22613          pack of 20 spaceboy napkins        12
541905      581587      22899         children's apron dolly girl          6
541906      581587      23254        childrens cutlery dolly girl          4
541907      581587      23255      childrens cutlery circus parade         4
541908      581587      22138        baking set 9 piece retrospot          3

              invoice_date  unit_price  cust_id         country  amount_spent
0      2010-12-01 08:26:00        2.55    17850  United Kingdom         15.30
1      2010-12-01 08:26:00        3.39    17850  United Kingdom         20.34
2      2010-12-01 08:26:00        2.75    17850  United Kingdom         22.00
3      2010-12-01 08:26:00        3.39    17850  United Kingdom         20.34
4      2010-12-01 08:26:00        3.39    17850  United Kingdom         20.34
...                    ...         ...      ...             ...           ...
541904 2011-12-09 12:50:00        0.85    12680          France         10.20
541905 2011-12-09 12:50:00        2.10    12680          France         12.60
541906 2011-12-09 12:50:00        4.15    12680          France         16.60
541907 2011-12-09 12:50:00        4.15    12680          France         16.60
541908 2011-12-09 12:50:00        4.95    12680          France         14.85

[397924 rows x 9 columns]

In [65]:
#Lets read the column names from DataFrame
for cols in df.columns:
  print(cols)

invoice_num
stock_code
description
quantity
invoice_date
unit_price
cust_id
country
amount_spent

In [66]:
#Rearranging columns for more readability
cols_order=['invoice_num','invoice_date','stock_code','description','quantity','unit_price','amount_spent','cust_id','country']
df=df[cols_order]
print(df)

       invoice_num        invoice_date stock_code  \
0           536365 2010-12-01 08:26:00     85123A
1           536365 2010-12-01 08:26:00      71053
2           536365 2010-12-01 08:26:00     84406B
3           536365 2010-12-01 08:26:00     84029G
4           536365 2010-12-01 08:26:00     84029E
...            ...                 ...        ...
541904      581587 2011-12-09 12:50:00      22613
541905      581587 2011-12-09 12:50:00      22899
541906      581587 2011-12-09 12:50:00      23254
541907      581587 2011-12-09 12:50:00      23255
541908      581587 2011-12-09 12:50:00      22138

                                description  quantity  unit_price  \
0        white hanging heart t-light holder         6        2.55
1                       white metal lantern         6        3.39
2            cream cupid hearts coat hanger         8        2.75
3       knitted union flag hot water bottle         6        3.39
4            red woolly hottie white heart.         6        3.39
...                                     ...       ...         ...
541904          pack of 20 spaceboy napkins        12        0.85
541905         children's apron dolly girl          6        2.10
541906        childrens cutlery dolly girl          4        4.15
541907      childrens cutlery circus parade         4        4.15
541908        baking set 9 piece retrospot          3        4.95

        amount_spent  cust_id         country
0              15.30    17850  United Kingdom
1              20.34    17850  United Kingdom
2              22.00    17850  United Kingdom
3              20.34    17850  United Kingdom
4              20.34    17850  United Kingdom
...              ...      ...             ...
541904         10.20    12680          France
541905         12.60    12680          France
541906         16.60    12680          France
541907         16.60    12680          France
541908         14.85    12680          France

[397924 rows x 9 columns]

In [67]:
#Access initial data
df.head()

,invoice_num,invoice_date,stock_code,description,quantity,unit_price,amount_spent,cust_id,country
0,536365,2010-12-01 08:26:00,85123A,white hanging heart t-light holder,6,2.55,15.30,17850,United Kingdom
1,536365,2010-12-01 08:26:00,71053,white metal lantern,6,3.39,20.34,17850,United Kingdom
2,536365,2010-12-01 08:26:00,84406B,cream cupid hearts coat hanger,8,2.75,22.00,17850,United Kingdom
3,536365,2010-12-01 08:26:00,84029G,knitted union flag hot water bottle,6,3.39,20.34,17850,United Kingdom
4,536365,2010-12-01 08:26:00,84029E,red woolly hottie white heart.,6,3.39,20.34,17850,United Kingdom

In [68]:
df.shape

(397924, 9)

In [69]:
len(df.columns)

9

In [70]:
df['invoice_date']

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: invoice_date, Length: 397924, dtype: datetime64[ns]

In [71]:
#Accessing year value from invoice_date
df['invoice_date'].dt.year

0         2010
1         2010
2         2010
3         2010
4         2010
          ...
541904    2011
541905    2011
541906    2011
541907    2011
541908    2011
Name: invoice_date, Length: 397924, dtype: int32

In [72]:
#Accessing month value from invoice_date
df['invoice_date'].dt.month

0         12
1         12
2         12
3         12
4         12
          ..
541904    12
541905    12
541906    12
541907    12
541908    12
Name: invoice_date, Length: 397924, dtype: int32

In [ ]:
#Exploratory Data Analysis (EDA)

In [73]:
df.head()

,invoice_num,invoice_date,stock_code,description,quantity,unit_price,amount_spent,cust_id,country
0,536365,2010-12-01 08:26:00,85123A,white hanging heart t-light holder,6,2.55,15.30,17850,United Kingdom
1,536365,2010-12-01 08:26:00,71053,white metal lantern,6,3.39,20.34,17850,United Kingdom
2,536365,2010-12-01 08:26:00,84406B,cream cupid hearts coat hanger,8,2.75,22.00,17850,United Kingdom
3,536365,2010-12-01 08:26:00,84029G,knitted union flag hot water bottle,6,3.39,20.34,17850,United Kingdom
4,536365,2010-12-01 08:26:00,84029E,red woolly hottie white heart.,6,3.39,20.34,17850,United Kingdom

In [75]:
df1=df.groupby('cust_id')['cust_id'].count()
print(df1)

cust_id
12346      1
12347    182
12348     31
12349     73
12350     17
        ...
18280     10
18281      7
18282     12
18283    756
18287     70
Name: cust_id, Length: 4339, dtype: int64

In [80]:
df1=df.groupby(['cust_id','country']).count()
print(df1)

                        invoice_num  invoice_date  stock_code  description  \
cust_id country
12346   United Kingdom            1             1           1            1
12347   Iceland                 182           182         182          182
12348   Finland                  31            31          31           31
12349   Italy                    73            73          73           73
12350   Norway                   17            17          17           17
...                             ...           ...         ...          ...
18280   United Kingdom           10            10          10           10
18281   United Kingdom            7             7           7            7
18282   United Kingdom           12            12          12           12
18283   United Kingdom          756           756         756          756
18287   United Kingdom           70            70          70           70

                        quantity  unit_price  amount_spent
cust_id country
12346   United Kingdom         1           1             1
12347   Iceland              182         182           182
12348   Finland               31          31            31
12349   Italy                 73          73            73
12350   Norway                17          17            17
...                          ...         ...           ...
18280   United Kingdom        10          10            10
18281   United Kingdom         7           7             7
18282   United Kingdom        12          12            12
18283   United Kingdom       756         756           756
18287   United Kingdom        70          70            70

[4347 rows x 7 columns]

In [82]:
df1=df.groupby(['cust_id','country'],as_index=False)['invoice_num'].count()
print(df1)

      cust_id         country  invoice_num
0       12346  United Kingdom            1
1       12347         Iceland          182
2       12348         Finland           31
3       12349           Italy           73
4       12350          Norway           17
...       ...             ...          ...
4342    18280  United Kingdom           10
4343    18281  United Kingdom            7
4344    18282  United Kingdom           12
4345    18283  United Kingdom          756
4346    18287  United Kingdom           70

[4347 rows x 3 columns]

In [91]:
df1.groupby(['cust_id','country']).sum()
print(df1)

cust_id  country
12346    United Kingdom    77183.60
12347    Iceland            4310.00
12348    Finland            1797.24
12349    Italy              1757.55
12350    Norway              334.40
                             ...
18280    United Kingdom      180.60
18281    United Kingdom       80.82
18282    United Kingdom      178.05
18283    United Kingdom     2094.88
18287    United Kingdom     1837.28
Name: amount_spent, Length: 4347, dtype: float64

In [92]:
df1=df.groupby(['cust_id','country'],as_index=False)['amount_spent'].sum()
print(df1)

      cust_id         country  amount_spent
0       12346  United Kingdom      77183.60
1       12347         Iceland       4310.00
2       12348         Finland       1797.24
3       12349           Italy       1757.55
4       12350          Norway        334.40
...       ...             ...           ...
4342    18280  United Kingdom        180.60
4343    18281  United Kingdom         80.82
4344    18282  United Kingdom        178.05
4345    18283  United Kingdom       2094.88
4346    18287  United Kingdom       1837.28

[4347 rows x 3 columns]

In [93]:
df1=df['amount_spent'].sort_values(ascending=False)
print(df1)

540421    168469.60
61619      77183.60
222680     38970.00
173382      8142.75
348325      7144.72
            ...
358655         0.00
47070          0.00
47068          0.00
502122         0.00
436597         0.00
Name: amount_spent, Length: 397924, dtype: float64

In [95]:
df1=df.groupby('country')['invoice_num'].count().sort_values(ascending=False)
print(df1)

country
United Kingdom          354345
Germany                   9042
France                    8342
EIRE                      7238
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1462
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: invoice_num, dtype: int64